extends layout

block content
  ul
    if user
      li
        p= user.email
      li
        a(href='logout') Log out
    else
      li
        a(href='/sign-up') Sign up
      li
        a(href='/login') Login
  h1= title
  p Welcome to #{title}
